<%- include('../layouts/adminheader') %>

   
   

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Banner List</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html"></a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>
    <br>

               
   
   
    <a class="btn btn-success" href="/admin/add-banner" style="margin-left: 250px;">Add Banner</a>
      <main class="main">
        <div class="container">
          <div class="table-responsive" id="no-more-tables">
            <table class="table table-striped bg-white">
               
              <thead class="bg-success text-light">
                <tr>
                  <th style="font-size: 20px;" scope="col">Name</th>                  
                  <th style="font-size: 20px;" scope="col">Image</th>
                  <th style="font-size: 20px;" scope="col">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <% 

                if(banner.length> 0){ %>
                      
                     <% for(let i=0;i<banner.length;i++){
                          %>
                      <tr style="font-size: medium;">

                        <td data-title="Name"><%= banner[i].name %></td>  
                        <td data-title="Name">
                            <img src="/images/<%= banner[i].image[0] %>" alt="" width="100px" class="rounded-circle" />
                        </td> 
                         <td>
                            <button onclick="deletebanner('<%= banner[i]._id %>')" class="btn-danger">Delete</button>
                         </td>                    
                        
                       
                     
                      </tr>
                      
            <%
        }%>
   <% }else{ %>
    <p style="color: red;">Category Not Found!..</p>
    <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </main> 
</div>
</div>
</div>
</section>
<!-- Product Section End -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<script>
    function deletebanner(banner){
     
      fetch('/admin/removebanner',{
        method: 'POST',
        headers:{
          'Content-Type' : 'application/json'            
        },
        body: JSON.stringify({
            banner:banner
        })
      })

      .then((res) => res.json())
      .then((res) => window.location.reload())
      .catch(error => console.error(error))
    }
  </script>
  <script>
  const removeWishlist = async (productId, index) => {
    // Show a confirmation dialog using SweetAlert2
    Swal.fire({
      title: 'Are you sure?',
      text: 'This item will be removed from your wishlist!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      // If the user confirms the deletion
      if (result.value) {
        // Send a POST request to remove the product from the backend
        fetch('/removeproduct-wishlist', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            productId: productId,
          })
        })
        .then(response => response.json())
        .then(result => {
          console.log(result); // Log the response to the console
          if (result.res == "success") {
            // Show a success message using SweetAlert2
            Swal.fire(
              'Deleted!',
              'This item has been removed from your wishlist.',
              'success'
            ).then(() => {
              // Reload the page after the success message is shown
              location.reload();
            });
          } else {
            // If there is an error, show an error message using SweetAlert2
            Swal.fire(
              'Error',
              'There was an error removing the item from your wishlist.',
              'error'
            );
          }
        })
        .catch(error => {
          console.log(error); // Log any errors to the console
          // Show an error message using SweetAlert2
          Swal.fire(
            'Error',
            'There was an error removing the item from your wishlist.',
            'error'
          );
        });
      }
    })
  }
</script>

</body>

</html>