<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-HdD0m0mzLMZG8u1XkTX+L5nJn5y5AJ5y5JtZ60nH+Vx5h1zDZ9X+Hk4F4RwnbcMnsWJ4H+oFfPH+mSfRGxQ3JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-Gb/i5LvBw/uMjx/zZVPzD7VcMIiPycCE7VrqPRW1u70/S1QjDdCCiOfzLttWk8egXGdY6AdHg6vQ/pb3s8DPFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Document</title>
</head>
<body>
    
