<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>

@import url('https://fonts.googleapis.com/css?family=Numans');



.container{
height: 70%;
align-content: center;
}

.card{
height: 180px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(250, 247, 247, 0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color:greenyellow;
}

.social_icon span:hover{
color: rgb(25, 22, 22);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: greenyellow;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: greenyellow;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
    </style>

    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                           
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                   
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                       
                        <div class="hero__search__phone">
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Ogani Shop</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <!--login page-->
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 style="color: black;">Forget Password</h3>
                    <div class="d-flex justify-content-end social_icon">
                        
                    </div>
                </div>
                <% 
                if(typeof message !=='undefined'){
                %>
                <p style="color: green;"> <%= message %></p>
                <%
                } 
                
                %>
               
                <div class="card-body">
                   
                    <form action="/forget" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email">
                            
                        </div>
                        <span id="email-error" style="color:red"></span>
                       
  
                        
                        <div class="form-group">
                            <input type="submit" value="Send Reset" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
               
                </div>
            </div>
        </div>
    </div>

    <!-- forma validation-->
    <script>
      const form = document.querySelector("form")
      
      const email = document.querySelector("#email")
     
      const password = document.querySelector("#password")
      
      
      const emailError = document.getElementById('email-error')
      
      const passwordError = document.getElementById('password-error')
      
      
      
      const emailPattern = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/
      
      const passwordPattern = '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}';
      
      
      
      let passwordFirstInput = false
      
      
      const emailFunction = () => {
        if (!emailPattern.test(email.value)) {
          emailError.textContent = 'Invalid email'
          return false
        } else {
          emailError.textContent = ''
          return true
        }
      }
      
      const passwordFunction =  () => {
        if(!passwordPattern.test(password.value)){
          passwordError.textContent = 'Not a strong password'
          return false
        } else {
          passwordError.textContent = ''
          return true
        }
      }
      
      
      email.addEventListener('input', emailFunction)
      
      
      password.addEventListener('input', passwordFunction)
      password.addEventListener('input', () => {
        if(passwordFirstInput) {
          passwordConfirmationFunction()
        }
      })
      
      let isFormValid = false
      
      const formFunctions = [
       
        emailFunction,
       
        passwordFunction
        ]
      
      document.getElementById("registerButton").addEventListener("click", (event) => {
        if(formFunctions.every(fn => fn())){
          isFormValid = true
        }
        if(!isFormValid) {
          event.preventDefault();
          alert("Form is not valid!");
        } else {
          form.submit();
        }
      });
      
      </script>

      <!--form validation ended-->
    




    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>